.Admin {
  background-color: $off-white;
  min-height:75vh;  //I have this here because I want the Thank You page to be full length.
                //unless you know of another way?

  h1 {
    font-size: calc(35px + 1vw);
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem 1.5rem;

    button{
      border: none;
      background-color: $off-white;
    }

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}

// ===== Log In Componet =====
.LogIn {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .log-in-btns{
    display: flex;
    justify-content: space-around;
  }
}

// ===== Orders Component =====
.Orders {
  padding: 5% 10% 0 10%;
  h1 {
    margin-top: -90px;
  }
}

// ===== ContactSubmissions Component =====
.ContactSubmissions {
  padding: 5% 10% 5% 10%;

}
// ===== Disabled Day Component =====
.DisableDay{
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
      font-size: 16px;
      margin: 10px 0 2px 0;
    }
    form {
      border: 0.2em solid $pink;
      padding: 10px;
    }

}
