.Admin {
  background-color: $off-white;
  min-height:75vh;

  h1 {
    font-size: calc(35px + 1vw);
    margin-top: 30px;
    padding: 0 20px 0 20px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 5% 0 5%;
    padding: 1rem 1.5rem;

    h1:hover {
      background-color: $pink;
      color: white;
      border-radius: 500px;
      box-shadow: 0px 4px 4px $shadow;
    }

    button{
      border: none;
      background-color: $off-white;
    }

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}

// ===== Log In Componet =====
.LogIn {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  h1{
    margin-bottom: 30px;
  }

  .log-in-btns{
    display: flex;
    justify-content: space-around;
  }
}

// ===== Orders Component =====
.Orders {
  padding: 0 10% 5% 10%;
}

// ===== ContactSubmissions Component =====
.ContactSubmissions {
  padding: 0 10% 5% 10%;
}

// ===== Disabled Day Component =====
.DisableDay{
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
      font-size: 16px;
      margin: 10px 0 2px 0;
    }
    form {
      border: 0.2em solid $pink;
      padding: 30px;
      margin-bottom: 30px;
    }
}

// ===== Annoucement Component =====
.Annoucements{
  padding: 0 10% 0 10%;
}

// ===== Update Annoucement Component =====
.UpdateAnnoucement{
    textarea {
      margin: 5px;
    }

    div.update {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div.update-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
}
