%new-button {
  display: inline-block;
  padding: 0.4em 2.5em;
  margin: 0.7em auto;
  font-family: 'Playfair Display', serif;
  border: none;
  border-radius: 500px;
  color: $wine;
  background: $pink;
}

.btn-main {
  @extend %new-button;
  box-shadow: 0px 4px 4px $shadow;
}

.btn-submit {
  @extend %new-button;
}

@media all and (max-width:30em) {
  %new-button {
    display:block;
    margin: 0.4em auto;
  }
}
