@import url('https://fonts.googleapis.com/css2?family=Allison&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

/*
===== CSS rules to specify families =====
Title:
  font-family: 'Allison', cursive;
For Lead:
  font-family: 'Playfair Display', serif;
For Paragraph:
  font-family: 'Playfair Display SC', serif;
*/

/*
===== For menu page =====
💗
*/

$pink: #D0BAC4;
$wine: #572953;
$off-white: #F6F5F0;
$brown: #7E6C3A;
$black: #000;
$white: #FFF;
$shadow: rgba(0, 0, 0, 0.25);
