.ContactPage {
  border: solid  $off-white;
  padding: 0 20% 0 20%;
  min-height:80vh;  

 h1 {
   font-size: calc(50px + 1vw);
   margin-bottom: 50px;
   padding-top: 30px;
}
 .name-email-div {
     width: 100%;
     margin: 0 auto;
     margin-bottom: 53px;
 }
 .email-label {
      width: 100%;
 }
 .name-label{
    width: 27vw;
 }

 #email, #name {
   min-width: 28vw;
   height: 6vh;
 }

 #textarea {
   height: 18.2vh;
   border: 2px solid #000000;
 }

 .textarea-label {
   width: 1114px;
   margin: 0 auto;
   padding-bottom: 31px;
 }

 label {
   margin-bottom: 1px;
   font-family: Playfair Display;
   font-size: calc(17px + 1vw);
   line-height: 48px;
 }

 button {
   margin-bottom: 100px;
 }
}
