.ContactPage {
  background-color: $off-white;
  height:80vh;  //I have this here because I want the Thank You page to be full length.
                //unless you know of another way?

 h1 {
   font-size: calc(50px + 1vw);
   margin-bottom: 50px;
   padding-top: 30px;
}
 .name-email-div {
     width: 1114px;
     margin: 0 auto;
     margin-bottom: 53px;
 }
 .email-label {
    width: 537px;
 }
 .name-label{
    width: 537px;
 }

 #email, #name {
   width: 537px;
   height: 59px;
   border: 2px solid #000000;
 }

 #textarea {
   height: 350px;
   border: 2px solid #000000;
 }

 .textarea-label {
   width: 1114px;
   margin: 0 auto;
   padding-bottom: 31px;
 }

 label {
   margin-bottom: 1px;
   font-family: Playfair Display;
   font-size: 36px;
   line-height: 48px;
 }
}
