footer.footer {
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px -3px 8px $shadow;
  background-color: $pink;
  padding: 2.5em 3.5em;
  justify-content: center;
  align-items: center;
  gap: 15em;

  section {
    h4 {
    font-weight: 900;
    }
    p.phone {
    margin-bottom: -1.5px;
    }
    p.email {

    }
    a {
      .instagram-img {
        margin-right: 1.25em;
        height: 35px;
        width: auto;
      }
      .facebook-img {
        height: 33px;
        width: auto;

      }
    }
  }
  img.footer-img {
    width: auto;
    height: 150px;
  }
  a.admin-link {
    color: $pink;
  }
  a.admin-link:hover {
    color: $wine;
  }
  // ===== Begin Media Query =====
  @media (max-width: 1284px) {
    gap: 1em;
    transition: 0.3s;
  }
  // ===== End Media Query =====
}
