.Footer {
  padding-left: 92px;
  padding-top: 44px;
  font-family: Playfair Display;
  font-weight: 400;
  position: absolute;
  width: 100%;
  height: 280px;
  background: #D0BAC4;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

  h5{
    height: 56px;
    width: 247px;
    font-size: 36px;
    line-height: 48px;
  }

  p{
    .phone{
      padding-top: 56px;
    }

    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0px;

  }

  .instagram-img{
    padding-top: 11px;
  }

  .facebook-img{
    padding-top: 11px;
    padding-left: 25px;
  }

  .footer-img{
    height: 145px;
    width: 347px;
    position: absolute;
	left: 70.76%;
	right: 5.14%;
	top: 23.93%;
	bottom: 24.29%;
  }
}
