@import "reset";
@import "grid";

body {
  background-color: $off-white !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: 'Allison', cursive;
  text-align: center;
  color: $brown;
}

h3 {
  font-family: 'Allison', cursive;
}

span {
  font-family: 'Playfair Display SC', serif;
  font-size: 18px;
  font-weight: 900;
}

p {
  font-family: 'Playfair Display', serif;
}
